@model IEnumerable<Domain.Joueur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" asp-controller="Joueur">
    <label>Joueur </label>
    <input type="text" name="search"/>
    <input type="submit" value="chercher"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pays)
            </th>
            
            <th>List des tournois</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
 
                <td>
                    <img src="~/uploads/@item.Photo" width="50px" height="50px" alt="">
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pays.CodePays)
            </td>
            <td>
                @if (item.Jouers.Select(jouer => jouer.Tournoi).ToList().Count() > 0){
                    <partial name="index_tournoi" model="item.Jouers.Select(j => j.Tournoi)"/>
                }
                else{
                    <p>Aucun tournoi</p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
